 * {
    font-family:sans-serif;
 }
 
 
 #hback {
    background-color: grey;
    display:grid;
    grid-template-columns: 2fr 3fr 3fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    grid-template-areas:
    "Menu Logo . Car Person Review Job Contact";
    height:6rem;
    background-color:#aeaeae;

}
.cara {
    grid-area:Car
}
.Car {
    
    color:#81007f;
    font-size:6rem !important;
    margin-top:1rem;
}
.persona {
    grid-area:Person;
    
    
}
.Person {
   
    color:#81007f;
    font-size:6rem !important;
    margin-top:1rem;
}
.reviewa {
    grid-area:Review;
}
.Review {
    
    color:#81007f;
    font-size:6rem !important;
    margin-top:1rem;
}
.joba {
    grid-area:Job;
}
.Job {
    
    color:#81007f;
    font-size:6rem !important;
    margin-top:1rem;
}
.contacta {
    grid-area:Contact;
}
.Contact {
   
    color:#81007f;
    font-size:6rem !important;
    margin-top:1rem;
}
.logoa {
    grid-area:Logo;
}
.material-icons {
    
    }
.menu{
    grid-area:Menu;
    color:white !important;
    background-color:#81007f !important;
    margin-top:-2rem;
    margin-right:0.7rem !important;
    font-size:6rem !important;
    

}
#logo {
grid-area:Logo;
height:6rem;
}
a.sidenav-trigger.Menu{
    background-color: #81007f;
    padding:3rem;
    margin-left:-0.1rem;
    margin-right:3rem !important;

    
}
#lessondrop {
    margin-left:-0.8rem !important;
}
.drop {
    color:#81007f !important;
    background-color: #959192 !important;
}
@media only screen and (min-width: 993px){
nav a.sidenav-trigger {
    display:block !important;
}}
#cars {
    width:100%;
}
#maintext {
    display:flex;
    justify-content: center;
    font-size:50px;
    margin-left:10%;
    margin-right:10%;
    text-align:center;
    
    

}
#b1 {
    list-style-type:disc !important;
}
#b2 {
    list-style-type:disc !important;
}

#b3 {
    list-style-type:disc !important;
}

#b4 {
    list-style-type:disc !important;
}
#bullets {
     
    
    font-size:3rem !important;
    margin-left:34%;
    margin-right:34%;
    list-style-type:disc !important;
 
}
#Homeside {
    font-size:30px !important;
}
#clear {
    font-size:3rem !important;
    margin-left:0. !important;
    margin-top:-0.8rem;
}
.black-text {
    font-size:1.5rem !important;
    margin-top:1rem;

}
.btn {
    width:33%;
    margin-left:33% !important;
    margin-right:33% !important;
    font-size:3rem !important;
    padding-left:2% !important;
    padding-right:2% !important;
    padding-top: 1% !important;
    padding-bottom:2.5% !important;
    margin-bottom:2rem;
}
.book {
   background-color:#81007f !important;

}
.more {
    background-color:#3587ce !important;
}
.divider {
    height:0.2rem !important;
    background-color:#837f81 !important;
    margin-top:1rem !important;
    margin-bottom:1rem !important;
    margin-right:2rem;
    margin-left:2rem;
}
.number {
    margin-left:38%;
    margin-right:38%;
    font-size:2rem !important;
    color:#837f81 !important;
} 
#social {
    margin-left: 42% !important;
    margin-right:35% !important;
    color:#837f81 !important;
    font-size:2rem !important;
}
#facebook {
    height:72px !important;
    border-radius:20% !important;
    margin-left:44.4% !important;
    display:inline;

}
#instagram {
    height:72px !important;
    border-radius:20% !important;
    margin-left:2% !important;
    display:inline;

}
#copyright {
    margin-left:19% !important;
    margin-right:15% !important;
    font-size:2rem !important;
    color:#837f81 !important;
}
#lhead {
    font-size:7rem;
    margin-top:6rem !important;
    margin-left: 32% !important;
    margin-right:30% !important;
    font-family:sans-serif;
    margin-bottom:6rem;
}
#prices {
    margin-top:8rem !important;
    font-size:6rem !important;
    margin-left:44.2% !important;
}
#lessfoot {
    display:grid;
    grid-template-columns:1fr 3fr 3fr 3fr 1fr;
    grid-template-rows:3fr 3fr ;
    grid-template-areas:
     ". CD E-learn Pass-Plus ."
     ". Mydrive Store DVSA .";
}
#CD {
    grid-area:CD;
    margin-bottom:-8rem;
    
    border-right:0.5rem solid black !important;
    margin-left:4rem;
    height:20rem;
   
}
#CEED {
    height:16rem;
    margin-left:9rem;
    margin-top:1rem;
    
}
#E-learn {
    grid-area:E-learn;
    display:flex;
    justify-content: center;
   
    color:#81007f !important;
    font-size:4rem;
    border-right:0.5rem solid black !important;
}
#pass-plus {
    grid-area:Pass-Plus;
    display:flex;
    justify-content: center;

}
#MyDrive {
    grid-area:Mydrive;
   
    height:200px !important;
    
    border-top: 0.5rem solid black !important;
    border-right:0.5rem solid black !important;

}
#mid {
    margin-left:11.6rem !important;
}
#Store {
    grid-area:Store;
    display:flex;
    justify-content: center;
    height:14rem;

    border-top: 0.5rem solid black !important;
    border-right:0.5rem solid black !important;
}
#DVSA {
    grid-area:DVSA;
    display:flex;
    justify-content: center;
    height:12rem;
    
    border-top: 0.5rem solid black !important;

}
.instructors {
    font-size:7rem !important;
    margin-top:6rem !important;
    display:flex;
    justify-content: center;
}
.look {
    font-size:60px;
    display:flex;
    justify-content: center;
}
.collapsible-header i {
    width: 150% !important;
    height:2rem !important;
    margin-top:0rem !important;
    text-align: center;
    margin-right: -700rem !important;
    line-height:1.5;

    font-size:30px !important;
}
#searchb {
   
    overflow:scroll;
    height:80%;
}
#searchdrop {
    background-color:#81007f !important;
    color:white;
    font-size:2rem;
    

    
}
#droph {
    margin-left:10% !important;
    margin-right:10% !important;
}
#searchb{
    background-color: #aeaeae;
}
#searchname {
    background-color:white;
    border-radius:2rem;
    font-size:2.4rem;
    padding-left:2%;
    padding-right:-2%
}
#searchdrop2 {
    background-color:#81007f !important;
    color:white;
    font-size:2rem;
    padding-right:-100rem;

    
}
#droph2 {
    margin-left:10% !important;
    margin-right:10% !important;
}
#searchb2{
    background-color: #aeaeae;
    overflow:scroll;
    height:80%;
}
#searchname2 {
    background-color:white;
    border-radius:2rem;
    font-size:2.4rem;
    padding-left:2%
}
.arrow2 {
margin-left:-3rem;    
}

.card {
    
    border-top: purple solid 0.3rem !important;
    border-left: purple solid 0.3rem !important;
    border-right: purple solid 0.3rem !important;
    border-bottom: purple solid 0.3rem !important;
    padding-top:1%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom:1%; 
  font-size:130%;
  text-align:center;
  color:black;
}
.none1 {
    color:#837f81;
    text-align:center;
    font-size:2rem;

}
#starbox {
    background-color:#aeaeae;
    margin-top:5%;
    border-radius:5rem;
    display:Grid;
    grid-template-columns:1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: ". 5star . 4star . 3star . 2star . 1star";
    margin-left:10%;
    margin-right:9%;
    
    
}
#fivestar {
    width:35vh;
   
}
#fourstar {
    width:35vh;
}
#threestar {
   
    width:35vh;
}
#twostar {
    margin-top:0.2rem;
    width:35vh;
    margin-top:11px;
}
#onestar {
    width:33vh;
    border-radius:4rem;
    margin-top:8px;

}
#reviewbox {
    border:0.4rem solid black !important;
    background-color:#aeaeae !important;
    height:70vh !important; 
    margin-left:10% !important;
    margin-right:10% !important;
    overflow:scroll !important;
}
.quotetext {
    font-size:1.5rem !important;
    font-family:Neue Haas Grotesk Text Pro Bold;
    font-style:italic;

}
.quoter {
    font-size:1.2rem;
    font-family:Neue Haas Grotesk Text Pro Bold;
    text-align:right;
    
}
.boxq {
    display:block;
}

#fdiv {
background-color:#afafaf;
margin-left:10%;
margin-right:10%;
margin-top:10%;
border-radius:2rem;
height:80vh;



}
#top {
    height:10vh;
background-color: #81007f;
color:white;
font-size:4rem;

border-radius:1rem;

}
#searchn {
    background-color:white;
   margin-right:10%;
    width:75vh;
    margin-top:-5% !important;
    border-bottom:none !important;
    float:right;
   
    
}
#n {
    font-size:2rem;
    
}
#a {
    
    font-size:2rem
    
}
#f {
    font-size:2rem;
}
#searchm {
    background-color:white;
    margin-right:10%;
     width:75vh;
     margin-top:-4% !important;
     border-bottom:none !important;
     float:right;
    
}
#searchf {
    background-color:white;
    margin-right:10%;
     width:75vh;
     margin-top:-4% !important;
     border-bottom:none !important;
     float:right;
     height:30vh;
    
}
.submit {
    width:40%;
    margin-top:4%;
    background-color: #81007f !important;
    border-radius:2rem !important;
}
#stardiv {
    display:grid;
    grid-template-columns:1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 2fr;
   
    width:90%;
}
#fivestar {
   
   border-radius: 2.9rem;
   
}
.titlep {
text-align:center;
font-size:80px;
margin-left:10%;
margin-right:10%;
}
.inst {
    text-align:center;
    margin-left:10%;
    height:24rem;

display:inline;
   
}
.car {
    text-align:center;
    display:inline;
    margin-right:10%;
    height:24rem;
    margin-left:31%;
}
.quot {
    text-align:center;
    font-size:30px !important;
    margin-left:10%;
margin-right:10%;
}
.brief {
    text-align:center;
    font-size:30px !important;
    margin-left:10%;
margin-right:10%;
}
.specs {
    text-align:center;
    font-size:30px !important;
    margin-left:10%;
margin-right:10%;
}
.final {
    text-align:center;
    font-size:30px !important;
    margin-left:10%;
margin-right:10%;
}