 * {
    font-family:sans-serif;
 }
 
 
 #hback {
    background-color: grey;
    display:grid;
    grid-template-columns: 2fr 3fr 3fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    grid-template-areas:
    "Menu Logo . Car Person Review Job Contact";
    height:6rem;
    background-color:#aeaeae;

}
.cara {
    grid-area:Car
}
.Car {
    
    color:#81007f
}
.persona {
    grid-area:Person
}
.Person {
   
    color:#81007f
}
.reviewa {
    grid-area:Review;
}
.Review {
    
    color:#81007f
}
.joba {
    grid-area:Job;
}
.Job {
    
    color:#81007f
}
.contacta {
    grid-area:Contact;
}
.Contact {
   
    color:#81007f;
}
.logoa {
    grid-area:Logo;
}
.material-icons {
    font-size:6rem !important;
    margin-top:1rem;;}
.menu{
    grid-area:Menu;
    color:white !important;
    background-color:#81007f !important;
    margin-top:-2rem;
    margin-right:0.7rem !important;
    

}
#logo {
grid-area:Logo;
height:6rem;
}
a.sidenav-trigger.Menu{
    background-color: #81007f;
    padding:3rem;
    margin-left:-0.1rem;
    margin-right:3rem !important;

    
}
#lessondrop {
    margin-left:-0.8rem !important;
}
.drop {
    color:#81007f !important;
    background-color: #959192 !important;
}
@media only screen and (min-width: 993px){
nav a.sidenav-trigger {
    display:block !important;
}}
#cars {
    width:100%;
}
#maintext {
    display:flex;
    justify-content: center;
    font-size:50px;
    margin-left:10%;
    margin-right:10%;
    text-align:center;
    
    

}
#b1 {
    list-style-type:disc !important;
}
#b2 {
    list-style-type:disc !important;
}

#b3 {
    list-style-type:disc !important;
}

#b4 {
    list-style-type:disc !important;
}
#bullets {
     
    
    font-size:3rem !important;
    margin-left:34%;
    margin-right:34%;
    list-style-type:disc !important;
 
}
#Homeside {
    font-size:30px !important;
}
#clear {
    font-size:3rem !important;
    margin-left:0. !important;
    margin-top:-0.8rem;
}
.black-text {
    font-size:1.5rem !important;
    margin-top:1rem;

}
.btn {
    width:33%;
    margin-left:33% !important;
    margin-right:33% !important;
    font-size:3rem !important;
    padding-left:2% !important;
    padding-right:2% !important;
    padding-top: 1% !important;
    padding-bottom:2.5% !important;
    margin-bottom:2rem;
}
.book {
   background-color:#81007f !important;

}
.more {
    background-color:#3587ce !important;
}
.divider {
    height:0.2rem !important;
    background-color:#837f81 !important;
    margin-top:1rem !important;
    margin-bottom:1rem !important;
    margin-right:2rem;
    margin-left:2rem;
}
.number {
    margin-left:38%;
    margin-right:38%;
    font-size:2rem !important;
    color:#837f81 !important;
} 
#social {
    margin-left: 42% !important;
    margin-right:35% !important;
    color:#837f81 !important;
    font-size:2rem !important;
}
#facebook {
    height:72px !important;
    border-radius:20% !important;
    margin-left:44.4% !important;
    display:inline;

}
#instagram {
    height:72px !important;
    border-radius:20% !important;
    margin-left:2% !important;
    display:inline;

}
#copyright {
    margin-left:19% !important;
    margin-right:15% !important;
    font-size:2rem !important;
    color:#837f81 !important;
}
#lhead {
    font-size:7rem;
    margin-top:6rem !important;
    margin-left: 32% !important;
    margin-right:30% !important;
    font-family:sans-serif;
    margin-bottom:6rem;
}
#prices {
    margin-top:8rem !important;
    font-size:6rem !important;
    margin-left:44.2% !important;
}
#lessfoot {
    display:grid;
    grid-template-columns:1fr 3fr 3fr 3fr 1fr;
    grid-template-rows:3fr 3fr ;
    grid-template-areas:
     ". CD E-learn Pass-Plus ."
     ". Mydrive Store DVSA .";
}
#CD {
    grid-area:CD;
    margin-bottom:-8rem;
    
    border-right:0.5rem solid black !important;
    margin-left:4rem;
    height:20rem;
   
}
#CEED {
    height:16rem;
    margin-left:9rem;
    margin-top:1rem;
    
}
#E-learn {
    grid-area:E-learn;
    display:flex;
    justify-content: center;
   
    color:#81007f !important;
    font-size:4rem;
    border-right:0.5rem solid black !important;
}
#pass-plus {
    grid-area:Pass-Plus;
    display:flex;
    justify-content: center;

}
#MyDrive {
    grid-area:Mydrive;
   
    height:200px !important;
    
    border-top: 0.5rem solid black !important;
    border-right:0.5rem solid black !important;

}
#mid {
    margin-left:11.6rem !important;
}
#Store {
    grid-area:Store;
    display:flex;
    justify-content: center;
    height:14rem;

    border-top: 0.5rem solid black !important;
    border-right:0.5rem solid black !important;
}
#DVSA {
    grid-area:DVSA;
    display:flex;
    justify-content: center;
    height:12rem;
    
    border-top: 0.5rem solid black !important;
    

}